/* 
Theme Name: gendarmerie
Theme URI: http://www.gendarmerie.com
Description: gendarmerie - Wordpress Theme
Author: seb&laet
Author URI:
version: 1.0
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* header  */

header {
  width: 100vw;
  background-color: #12121200;
  position: relative;
  z-index: 999;
  box-shadow: 1px 2px 10px rgba(218, 165, 32, 0.8);
}
  
  .logo,
  .content {
    color: #fafafa;
  }
  .logo img{
    height:80px;
    border-radius: 50%;
  }
  .nav {
    width: 100%;
    background-color: #1a1a1a00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* z-index: 2; */
  }
  
  .logo,
  #hamburger {
    margin: 2%;
  }
  
  #hamburger {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    display: flex;
    align-items: center;
  }
  
  #hamburger:hover {
    opacity: 1.6;
  }
  
  #hamburger div,
  #hamburger div:after,
  #hamburger div:before {
    background-color: rgba(218, 165, 32, 0.8);
    border-radius: 7px;
    width: clamp(1.1rem, 2vw + 1.1rem, 5rem);
    height: clamp(0.15rem, 0.2vw + 0.2rem, 0.7rem);
    transition: all 0.15s linear;
  }
  
  #hamburger div:before,
  #hamburger div:after {
    content: "";
    position: absolute;
  }
  
  #hamburger div:before {
    transform: translateY(-200%);
  }
  
  #hamburger div:after {
    transform: translateY(200%);
  }
  
  #hamburger.open div {
    background: transparent;
  }
  
  #hamburger.open div:before {
    transform: rotate(45deg);
  }
  
  #hamburger.open div:after {
    transform: rotate(-45deg);
  }
  
  #overlay {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #5f3333cb;
    transform: translateX(100%); 
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }
  
  #overlay.menu {
    transform: translateY(0%);
  }
  
  #overlay a {
    text-decoration: none;
    color: rgb(224, 170, 33);
    font-size: clamp(1rem, 2.7vw + 0.1rem, 7rem);
    margin: 2% 0; 
    opacity: 0.5;
    transition: opacity 0.2s linear;
    display: block;
    text-align: center; 
    list-style: none;
    
   
  }
  
  #overlay a:hover {
    opacity: 5;
  }
  


  /* footer */
.footer {
    padding: 20px 0;
    color:aliceblue;
    font-family: 'Oswald', sans-serif; 
    width:100vw;
    background-color: #632225;
   

  }

 .container-footer{
  flex-wrap: wrap;
  align-items: center;
 } 
 .container-footer h3{
  text-transform: uppercase;
  display: flex;
  text-align:center;
  justify-content: center;
  margin:1rem;
 
 }
.footer-box{
    border:1px solid white;
    height:12.5rem;
    width:21.5rem;
    margin:2%;

 
}
.footer-header{
   padding:10px;
   text-align: center;
}
.list-unstyled{
    text-align: center;
    justify-content: space-evenly;
    display:grid;
}
.list-unstyled a{
    text-decoration: none;
    color:aliceblue;
    text-align: center;
    justify-content: center;
}

.list-unstyled i{
    margin-right:10px;
    text-align: center;
    color: white;
}
.list-unstyled li{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#opening-hours, p{
    text-align:center;
}
.list-inline{
    text-align: center;
    text-align: center;
    justify-content: space-evenly;
    display:grid;
}


.footer-box .tag-us{
  border: 1px solid white;
  border-radius:1rem;
  height:2.1rem;
  width:15rem;
 align-items: center;
 margin-left:2.9rem;
  
}
.list-inline a{
    text-decoration: none;
    color:aliceblue;
    text-align: center;
    justify-content: center;
}
.list-inline i{
    margin-right:10px;
    text-align: center;
    color:white;
}
.list-inline li{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
/* media query for footer */
@media (max-width: 768px) {
  .footer-box {
    height: auto;
    width: 100%;
    max-width: 21.5rem;
    margin: 2% auto;
  }

  .footer-box .tag-us {
    margin: 0 auto;
    margin-bottom: 1rem;

  }
}

/* Homepage main page */
.background-image-section {
  z-index: -1;
  background-image: url('http://localhost/wordpress/wp-content/uploads/2023/06/camp-house.jpg');
  position: absolute;
  top: 0;
  width: 100vw;
  background-size: cover;
  height: 100vh;
}

.overlay {
  position: relative;
  background-color: #535b4969;
  min-height: 100%;
}

.homepage-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#big-title {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2%;
  color: white;
  margin-top: 14%;
}

.mNoire-txt {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5%;
  color: white;
}

#big-title:hover,
.mNoire-txt:hover {
  color: rgba(218, 165, 32, 0.8);
}

.ddecouvrir-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: goldenrod;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5%;
}

.ddecouvrir-btn:hover {
  background-color: rgba(218, 165, 32, 0.8);
  color: #654321;
}

@media only screen and (max-width: 550px) {
  #big-title {
    margin-top: 30%;
  }
}

/*comments*/

.com-container {
  display: flex;
  margin-top:3%;

}

.com-container p{
font-size:18px;
}
.com-container h3{
  text-align: center;
  text-shadow: #632225 1px 2px 1px;
 display: flex;

 
}
.com-col-md-4{
  flex: 1;
  padding: 10px;
  margin:0 120px;
  color:white;
}

.comment-content {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  
}

/*   about page css*/

/* page presentation */
.container1 {
  background-color:#FFE7AB;
  display: flex;
  margin-bottom: 2px;
}
.container2 {
  background-color:#FFE7AB;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2px;
}

.zoneimage1-img{
  width:400px;
  height:400px;
  margin:1rem;
}


/* single chambre  */
.container-single-chambre {
  display: flex;
  flex-direction: column;
  
}

.chamber_container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1em;
  margin-top: 1em;
}

.btn-resa {
  appearance: none;
  background-color: #595224;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #FFE7AB;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.text_zone{
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 3em;
  margin-bottom: 2em;
}

.chamber_container2{
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  margin-bottom: 1em;

}

.petite-image{
  width: 25%;
}

.img-petite{
  width: 100%;
}

.image-moyenne{
  align-self: flex-end;
  width: 70%;
}

.img-moyenne{
  width: 100%;
}

/* nos chambre */

.container-noschambres {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
 
}

.card1 {
  height: 45%;
  width: 45%;
  border-style: solid;
  border-color: #442818;
  display: flex;
  flex-direction: column;
  background-color: #EEC377;
  padding-top: 2em;
  padding-left: 1em;
}

.card-img-top-chambre {   
  box-sizing: border-box;
align-self: center;  
}

.card-body-noschambres{
background-color: #EEC377;  
display: flex;
flex-direction: column;
}

.card-title-chambre {
  color: #442818;
  font-size: larger;
}
.card-text-capacite{
  color:#9b592a;
  font-size:medium
}
.card-text-descrip{
  color:#9b592a;
  font-size:medium
}
.card-text-tarif{
  color:#9b592a;
  font-size:medium
}

.footercard1 {
  background-color: #EEC377;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;

}

.btn-noschambres {
  appearance: none;
  background-color: #595224;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #FFE7AB;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
#nos-chambre-img{
  height: 250px;
  width:350px;
}